* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
.heade_cont {
    text-align: center;
    color:#FFFACD  ;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000000;
    font-size: 45px;
    z-index: 1;
    font-family:Raleway;

}

.back_im img {
    height: 70vh;
    width:100%;
    filter: blur(2px);
    z-index: 0;

}

.f1{
    background-color: rgb(198, 198, 198);
    margin: 20px auto;
    padding: 10px;
    max-width: 90%;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
.f1:hover{
    transform: translateY(-10px);
}

.f1 h1{
    font-size: 50px;
    text-align: center;
    padding: 20px;
  
}
.f1 li{
    background-color: rgb(230, 228, 228);
    padding: 20px;
    text-align: center;
    list-style-type:none;
}
.f1 li:hover{
    background-color: rgb(167, 165, 165);
}
    
.f1 li h2{
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.f1 li p{
    font-size: 15px;
}



  