* {
    margin: 0;
    padding: 0;
    font-family: roboto;}




.d1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-gap: 30px;
}

.d1 div {
    background-color: white;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease;
}
.d1 div h1 ,.d1 div p {
    font-size: 120%;
    text-align: center;
}

.d1 div:hover {
    background-color:rgb(142, 136, 136);
    color: white;
}

