* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 20px;
    
}
.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 10px 20px 20px rgba(16, 15, 15, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    text-align: center;
    font-size: 25px;
  
}
.card:hover{
    transform: translateX(10px);
    background-color: rgb(239, 231, 220);
}

.card button {
    border: none;
    margin: 10px;
}

