* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 20px;
    
}
.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 10px 20px 20px rgba(16, 15, 15, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
    text-align: center;
    font-size: 25px;
  
}
.card:hover{
    transform: translateX(10px);
    background-color: rgb(239, 231, 220);
}

.card button {
    border: none;
    margin: 10px;
}

.heade_cont {
    text-align: center;
    color:#FFFACD  ;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px #000000;
    font-size: 45px;
    z-index: 1;
    font-family:Raleway;

}

.back_im img {
    height: 70vh;
    width:100%;
    filter: blur(2px);
    z-index: 0;

}

.but a {
    display: inline-block;
    padding: 12px 25px;
    color: white;
    background-color: rgb(0, 179, 220);
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.but a:hover {
    background-color: rgb(44, 175, 164);
}



  